@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 10px;
$beer: #EC9B3B;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;

  &:focus {
    outline: 0;
  }
}

.card {
  background: white;
  width: 300px;
  height: 570px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size ($border-radius-size + 15);
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.card-title {
  height: 50px;
}

.card__image {
  position: relative;
  height: 300px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.card__image--beer {
  .card-img {
    height: 22rem;
    width: auto;
    position: relative;
    top: -55px;
  }
    .card-noimg {
      width: 200px !important;
      position: relative;
      top: 22px;
  }

}

.card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.card__unit-description {
  padding: 0 20px;
  margin-bottom: 10px;
  height: 70px;
}

.card__unit-stats {
  color: $beer;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 10px;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}
